/*
CSS to handle tabs
@author: nano-bytes and signare
*/
/* Style the tab */
div.tab {
    overflow: hidden;
}

/* Change background color of buttons on hover */
div.tab button:hover {
    background-color: #f5f6f7;
}

/* Create an active/current tablink class */
/*div.tab button.active {
    border-radius: 0.875em;
}*/

/* Style the tab content */
.tab-content {
    display: none;
}

.tab-content {
    -webkit-animation: fadeEffect 1s;
    animation: fadeEffect 1s;
}

@-webkit-keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}