{% extends "base.html" %}
{% block content %}
<header id="header">
    <a class="logo">Book Settings</a>
</header>
    <!--<script src="/static/js/settings.js"></script>-->
    <form id="book-settings" method="POST" action="http://127.0.0.1:8000/booksettings">
        <div class="container">
            <div class="row">
                <div id="types-box" class="six columns">
                    <h5>Type</h5>
                    <input type="text" class="type" name="type">
                </div>
                <div id="genres-box" class="six columns">
                    <h5>Genre</h5>
                    <select>
                        {% for book_types in types %}
                        <option>{{book_types.type}}</option>
                        {% endfor %}
                    </select>
                    <input type="text" id="genre">
                </div>
            </div>
            <div class="row">
                <div class="two columns offset-by-four">
                    <button id="save-button" type="submit">Save</button>
                </div>
            </div>
        </div>
    </form>
{% endblock %}
