{% extends "base.html" %}
{% block content %}
<header id="header">
    <a class="logo">Series Settings</a>
</header>
    <!--<script src="/static/js/settings.js"></script>-->
    <form onsubmit="return false" id="series-settings">
        <div class="container">
            <div class="row">
                <div id="types-box" class="four columns offset-by-two">
                    <h5>Type</h5>
                    <input type="text" id="type">
                </div>
                <div id="genres-box" class="one-third column">
                    <h5>Genre</h5>
                    <input type="text" id="genre">
                </div>
            </div>
            <div class="two columns offset-by-four">
                <button class="button" type="submit">Save</button>
            </div>
        </div>
    </form>
{% endblock %}
